<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/community.css">
    <title>Document</title>
</head>
<body class="container">
    <header>
        <ul class ="menu">
            <li><a class="Linktext" href="../templates/homepage.html">Trang chủ</a></li>
            <li><a class="Linktext" href="../templates/newspaper.html">Báo điện tử</a>
                <ul>
                    <li><a href="../templates/club.html">Câu lạc bộ</a></li>
                    <li><a href="../templates/activities.html">Hoạt động</a></li>
                    <li><a href="">Nhật kí tạp chí</a></li>
                    <li><a href="">HĐTN-HN</a></li>
                    <li><a href="">Hỗ trợ đăng bài</a></li>
                </ul>
            </li>
            <li>Kết nối cộng đồng
                <ul>
                    <li><a href="">Toán</a></li>
                    <li><a href="">Vật Lý</a></li>
                    <li><a href="">Hóa Học</a></li>
                    <li><a href="">Anh Văn</a></li>
                    <li><a href="">Ngữ Văn</a></li>
                    <li><a href="">Tin Học</a></li>
                    <li><a href="">Sinh Học</a></li>
                    <li><a href="">Tất cả</a></li>
                </ul>
            </li>
            <li>Tư vấn-Hướng nghiệp</li>
            <li><a class="Linktext" href="../templates/aboutus.html">Chuyện của chúng mình</a></li>
            <li><form action="" id = "search-box">
                <input type="text" id="search-text" placeholder="Bạn cần tìm gì thế?">
                <button id="search-btn"><div class="find"><img  src="../static/images/Interface Search.png" alt="" height="30px" width="30px"></div></button>
            </form></li>
            <li><div class="notification"><img src="../static/images/mdi_bell.png" alt="" height="60px"></div></li>
            <li><div class="account"><img src="../static/images/Ellipse 23.png" alt="" height="60px"></div></li>
        </ul>
    </header>
    <div>
        <h1 class="space">Hãy chọn một cộng đồng để cùng nhau học tập và phát triển nhé!</h1>
        <br>
        <h1>Chúc bạn có điểm cao trong kì thi sắp tới</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="box">
        <div class="box2 top-left">
            <p class="chu">Tin học</p>
        </div>
        <div class="compu">
            <img src="../static/images/compu.png" alt="anh" class="compu"></img>
        </div>
        <div class="midp">
            <p class="chu">Cùng học Tin học</p>
        </div>
        <div class="circle c1">
        </div>
        <div class="circle c2">
        </div>
        <div class="circle c3">
        </div>
        <div class="circle c4">
            <p class="numc chu">999+</p>
        </div>
        <a href="../templates/studywithme.html">
            <div class="button">
                <p class="chu numb">Tham gia</p>
            </div>
        </a>
        <div>
            <p class="chu thamgia">9999 BTX-ers đã tham gia học</p>
        </div>
    </div>
    
      
    <br>
    <br>
    <br>
<footer class="footer1">
    <div class="disappear">
        <img class="logo" src="../static/images/logo.jfif" alt="logo">
        <img class="duoi" src="../static/images/duoifooter.png" alt="">
        <img class="tren" src="../static/images/footertren.png" alt="">
    </div>
    <img src="../static/images/[NHÓM].JPG" alt="nhom" class="nhom">
    <div class="cot1 disappear">
        <h4 class="chu ftieude">Thông tin website</h4>
    </div>
    <div class="disappear">
        <img src="../static/images/femail.png" alt="mail" class="mail">
        <h1 class="chu cmail">info.biac.techpioneer@gmail.com</h1>
    </div>
    <div class="disappear">
        <img src="../static/images/flocate.png" alt="diachi" class="locate" >
        <h1 class="chu cdiachi">73-75 Bùi Thị Xuân, phường Phạm Ngũ Lão, quận 1</h1>
    </div>
    <div class="disappear">
        <img src="../static/images/flink.png" alt="link" class="link">
        <h1 class="chu clink">www.biac.com</h1>
    </div>
    <div class="disappear">
        <h1 class="chu ftieude2">Về BIAC và <br>
            Đội ngũ Tech Pioneer</h1>
    </div>
    <div class="disappear">
        <h1 class="chu chuyen">Chuyện của chúng mình</h1>
    </div>
    <div class="disappear">
        <h1 class="chu bao">Báo chí nói gì về BIAC</h1>
    </div>
    <div class="disappear">
        <h1 class="chu hoi">Hỏi đáp cùng BIAC</h1>
    </div>
    <footer class="footer2 chu cuoi">@Buithixuaninformationandcommunity</footer>
</footer>
</body>
</html>