*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
body{
    justify-content: center;
    background-color: #ffffff;
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.chu{
    color: #000;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05vw;
    display: inline-block;
    font-size:1.25vw;
}
header ul.menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    text-decoration: none;
    background-color: #0B437E;
    padding: 2.5vw;
}
header ul.menu>li{
    background-color: #0B437E;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125vw;
    list-style-type: none;
    font-size: 1.25vw;
    cursor: pointer;
    position: relative;
}
header ul.menu>li>ul{
    position: absolute;
    background-color: #0E2843;
    list-style: none;
    top:1.5vw;
    width: 11vw;
    display: none;
    padding: 0.5vw;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
header ul.menu>li:hover>ul{
    display: block;
}
header ul.menu>li>ul>li{
    padding: 0.5vw;
    border-bottom: 1px solid #fff;
}
header ul.menu>li>ul>li:hover{
    background-color: #9FDFE4;
}
*{
    box-sizing: border-box;
}
#search-box{
    background-color: #fff;
    height: 1.75vw;
    outline: none;
    border-radius: 50px;
    visibility: hidden;
}
#search-box #search-btn{
    background-color: #0B437E;
    outline: none;
    border-radius: 50%;
    visibility: visible;
    position: relative;
    top:-0.26667vw;
}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    width: 0;
    padding: 0;
    position: relative;
    top:-0.86667vw;
}
#search-box:hover #search-text{
    width: 10vw;
    padding: 0.5vw 0.75vw;
    visibility: visible;
}
#search-box:hover{
    visibility: visible;
}
#search-box:hover #search-btn{
    position: relative;
    left:0.66667vw;
    top:-0.26667vw;
}
.welcome{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0425vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
p{
    color: #D9D9D9;
    text-align: left;
    font-family: Manrope;
    font-size: 1vw;
    font-weight: 35vw;
    letter-spacing: 0.0425vw;
    list-style-type: none;
    width: 35vw;
    height: 2.5vw;
    padding: 0.5vw 0 0.5vw 0.5vw;
    cursor: pointer;
}
.imghouse{
    padding: 0.5vw 0;
    cursor: pointer;
}
.Linktext{
    text-decoration: none;
    color: #FFF;
}
h1{
    display: flex;
    justify-content: center;
  }
  .space{
      margin: 7vw 0 0 0;
  }
  .container {
      position: relative;
  }
  .dk2{
     width: 16.667vw;
     position: relative;
     left:3.3333vw;
     top:9vw;
  }
  .h1{
      font-size: 5.3333vw;
      position: relative;
      top:-1.5vw;
      left:20.6666vw;
  }
  .h2{
      font-size: 3.6667vw;
      position: relative;
      left:5vw;
      top:-16vw;
      width:50vw;
  }
  .circle {
      width: 5vw; /* Set the width */
      height: 5vw; /* Set the height */
      border-radius: 50%; /* Make it round */
      border: 3px solid #0B437E; /* Red border */
      background-color: white; /* Blue fill */
      background-size: cover; /* Ensure the image covers the entire area */
      background-position: center; /* Center the image */
      position: relative;
    }
    .c1{
        top:-20.6667vw;
        left:55.6667vw;
        background-image: url(../images/ava1.png);
    }
    .c2{
        top:-25.6667vw;
        left:60vw;
        background-image: url(../images/ava2.png);
    }
    .c3{
        top: -30.6667vw;
        left:64.3333vw;
        background-image: url(../images/ava3.png);
    }
    .c4{
        border: 3px solid #4086b8; /* Red border */
        top:-35.6667vw;
        left:68.6667vw;
    }
  .numc{
      font-size: 1.8vw;
      position: relative;
      display: flex;
      top:0.7vw;
      width:10vw;
  }
.anhdangbai{
    width:15vw;
    position: relative;
    top:-35vw;
    left:80vw;
}
.chudangbai{
    font-size: 2vw;
    position: relative;
    top:-35vw;
    left:83.6667vw;
    width:10vw;
}
.box{
    border: 5px solid #520207;
    height:16.6667vw;
    width: 90vw;
    position: relative;
    left:5vw;
    top:-20vw;
    border-radius: 50px;
    margin: 0 0 6vw 0;
}
.ten{
    position: relative;
    font-size: 2vw;
    top:3vw;
    left:1.5vw;
}
.lop{
    font-size: 2vw;
    position: relative;
    top:4vw;
    left:1.5vw;

}.tieude{
    position: relative;
    font-size: 1.6667vw;
    font-weight:lighter;
    top:4.6667vw;
    left:1.5vw;
    width:85vw;
    height:4.3333vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin:20px 0 0 0;
}
.chuathamgia{
    position: relative;
    background-color: #520207;
    border-color: #520207;
    top:-40vw;
    left:55vw;
    height:6vw;
    width:33.333vw;

}
.thamgia{
    color: white;
    font-size: 2vw;
    text-align: center;
    position: relative;
    top:1vw;
    width:100%;
}
.box1st{
    margin: -6.6667vw 0 0 0;
}
.boxsau{
    margin: -13.333vw 0 0 0;
}
.dathamgia{
    position: relative;
    border-color: #520207;
    background-color: #DACECF;
    border: 2px solid #520207;
    top:-40vw;
    left:55vw;
    height:6vw;
    width:33.333vw;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.dthamgia{
    color: black;
    font-size: 2vw;
    position: relative;
    top:-0.3333vw;
    text-align: center;
    width:100%;
}
/*footer begin*/
.footer1{
    background-color: white;
    height:30vw;
}
.nhom{
    width:40vw;
    position: relative;
    left:-2vw;
    z-index: 10;
}
.ftieude{
    position: relative;
    top:-14.799vw;   /*-275*/
    left:-25.898vw;  /*-435*/
    margin: 0 0 0.67267vw 0;
}
.cot1{
    position:relative;
    top:-6.7267vw;
    left:26.907vw;
    display:inline;
}
.footer2{
    background-color: #115BA9;
    height:5.7177vw;
    margin:-2.0516vw 0 0 0;
    position: relative;
    bottom:0vw;
    z-index: 20;
}
.mail{
    width:3vw;
    position: relative;
    left:41vw;
    top:-20vw;
    margin: 0 0.67267vw 0 0;
}
.cmail{
    position: relative;
    left:41vw;
    top:-20.6666vw;
    font-weight:bolder;
    font-size: 1.009vw;
}
.locate{
    width:3vw;
    position: relative;
    left:41vw;
    top:-15.6666vw;
    margin: 0 0.67267vw 0 0;
}
.cdiachi{
    position: relative;
    left:41vw;
    top:-16.6666vw;
    font-size: 1.009vw;
    font-weight:bolder;
}
.link{
    width:3vw;
    position: relative;
    left:41vw;
    top:-10.3333vw;
    margin: 0 0.67267vw 0 0;

}
.clink{
    position: relative;
    top: -11.3333vw;
    left:41vw;
    font-size: 1.009vw;
}
.disappear{
    height:0vw;
}
.ftieude2{
    position: relative;
    top:-24.889vw;
    left:80.72vw;
}
.chuyen{
    position: relative;
    top:-19.5vw;
    left:80.72vw;
    font-size: 1.009vw;
}
.bao{
    position: relative;
    top:-14.5vw;
    left:80.72vw;
    font-size: 1.009vw;
}
.hoi{
    position: relative;
    top: -9.4vw;
    left:80.72vw;
    font-size: 1.009vw;
}
.logo{
    position: relative;
    top: 15.5vw;
    left:92.155vw;
    font-size: 1.009vw;
    width:5.7177vw;
}
.duoi{
    position: relative;
    top:16.3vw;
    width:10.09vw;
    left:31.817vw;
    z-index: 1;
}
.tren{
    position: relative;
    width:10.09vw;
    left:72.648vw;
    top:-0.26907vw;
}
.cuoi{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.018vw;
}
/*footer end*/