<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style/mbtiquestion.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 15: Trong các mối quan hệ xã hội (tình cảm, drama, confession), bạn thường        </h3>
        <form action="../16.html">
            <button class="d" name="a" type="submit" value="a">
                Luôn nắm bắt kịp thời thông tin về các vấn đề của mọi người            </button>
        </form>
        <form action="../16.html">
            <button class="e" name="b" type="submit" value="b">
                Thường biết thông tin sau những người khác            </button>
        </form>
    </div>
</body>
