<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mtbtiquestion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 36: Khi phải tương tác với người khác ở các tình huống và vấn đề mới lạ, không thường gặp, bạn thường:        </h3>
        <form action="">
            <button class="d" type="submit" value="a">
                Thấy phấn chấn và hào hứng            </button>
        </form>
        <form action="">
            <button class="e" type="submit" value="b">
                Cảm thấy mệt mỏi            </button>
        </form>
    </div>
</body>
