<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mtbtiquestion.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 37: Thường thì bạn là:        </h3>
        <form action="">
            <button class="d" type="submit" value="a">
                Người nhìn nhận vấn đề trên trải nghiệm thực tế            </button>
        </form>
        <form action="">
            <button class="e" type="submit" value="b">
                Người có khả năng tưởng tượng phong phú về mọi dự định, việc làm            </button>
        </form>
    </div>
</body>
