<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style/mbtiquestion.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 41: Bạn cảm thấy thoải mái hơn khi làm các công việc theo dạng:        </h3>
        <form action="../42.html">
            <button class="d" name="a" type="submit" value="a">
                Được giao trọn gói, bàn giao 100% khi hoàn thành            </button>
        </form>
        <form action="../42.html">
            <button class="e" name="b" type="submit" value="b">
                Công việc làm hàng ngày, theo lịch, từng bước hoàn thành công việc            </button>
        </form>
    </div>
</body>
