<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style/mbtiquestion.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 61: Về cơ bản, bạn sẽ đánh giá mình là người thế nào?        </h3>
        <form action="../62.html">
            <button class="d" name="a" type="submit" value="a">
                Thiết thực, ít bị chi phối bởi tình cảm            </button>
        </form>
        <form action="../62.html">
            <button class="e" name="b" type="submit" value="b">
                Đa cảm            </button>
        </form>
    </div>
</body>
