<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style/mbtiquestion.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>
            Trắc Nghiệm MBTI
        </h1>
        <h2>
            Chọn câu trả lời giống với bạn nhất
        </h2>
    </header>
    <div class="question">
        <h3>
            Câu 62: Tình huống nào sẽ lôi cuốn bạn hơn?        </h3>
        <form action="../63.html">
            <button class="d" name="a" type="submit" value="a">
                Tình huống rõ ràng, có kế hoạch từ trước            </button>
        </form>
        <form action="../63.html">
            <button class="e" name="b" type="submit" value="b">
                Tình huống chưa có kế hoạch, dựa trên hứng thú tại thời điểm quyết định            </button>
        </form>
    </div>
</body>
