<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/MBTI1.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="a">
        <h1>Bạn có hiểu rõ về tính cách MBTI của chính mình?</h1>
        <p>MBTI là công cụ đánh giá tính cách của Myers-Briggs, dựa trên bốn cặp đối lập:
            Hướng ngoại - Hướng nội (E-I)
            Giác quan - Trực giác (S-N)
            Lý trí - Cảm xúc (T-F)
            Nguyên tắc - Linh hoạt (J-P)
            
            Bằng cách kết hợp bốn cặp này, MBTI tạo ra 16 nhóm tính cách khác nhau với những ưu và nhược điểm riêng biệt. MBTI test sẽ giúp bạn hiểu sâu hơn về bản thân, từ đó lựa chọn được nghề nghiệp phù hợp và nâng cao hiệu suất làm việc.
        </p>
        <a class="f" href="../1.html"><button>
            Kiểm tra MBTI của tôi
        </button></a>
    </div>
    <img src="{{url_for('static',filename='images/tinh-cach-mbti-banner 1.png')}}">
</body>