<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/mbti.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li class="g">Trang chủ</li>
            <li class="g"><a class="Linktext" href="../html/newspaper.html">Báo điện tử</a></li>
            <li class="g">Kết nối cộng đồng</li>
            <li class="g">Tư vấn-Hướng nghiệp</li>
            <li class="g"><a class="Linktext" href="../html/aboutus.html">Chuyện của chúng mình</a></li>
            <li class="g"><img class="a" src="../access/material-symbols_search.png"></li>
            <li class="g"><img class="a" src="../access/mdi_bell.png"></li>
            <li class="g"><img class="a" src="../access/Ellipse 23.png"></li>
        </ul>
        <a href="../mbti1"><img class="b" src="{{url_for('static',filename='images/Group 36.png')}}"></a>
        <a href=""><img class="c" src="{{url_for('static',filename='images/Group 35.png')}}"></a>
    </header>